
.header{
    width: 100%;
	height: 55px;
	background: #04d690;
	/* margin-top:62px; */
	/* margin-bottom: 50000px; */
	position:relative;
}
.header:hover{
    background-color: #ff6b08;
}
.logo{
	width: 43%;
	float: left;
    margin:6px;
    padding-left: 10px;
}
.logo a{
     text-decoration: none;
    color:white;
    font-size: 26px;
}
.logo a:hover{
    color:rgb(21, 255, 0);
}
.top-nav{
	float:right;
	
	
    width: 55%;
	
}
.top-nav ul{
  list-style: none; 
  
}

.top-nav ul li {
	
	float:left;
    margin: 2px 10px;
	padding: 2px 10px;
	border-left: 1px solid rgb(54, 255, 161);
}
.top-nav ul li:first-child{
	border-left:none;
}
.top-nav ul li a{
	font-family: 'Ropa Sans', sans-serif;
	color: #fff;
    font-size: 22px;
	text-transform:capitalize;
    text-decoration: none;
	
	display: block;
}

.top-nav ul li:hover{
	border-bottom: 3px solid red;
}
.top-nav li.active> a, .top-nav li> a:hover {
	background: rgb(50, 133, 209);
	border-left-color:rgb(50, 133, 209);
}
.top-nav .closebtn{
	display:none;
}
.top-nav span{
	display:none;
}
.wrap{
	width:100%;
	position:relative;
	float:left;
} 
.contact{ 
	width:100%;
	float:left;
}
.section {
	
	/* float: left;
	padding: 0px;
	margin: 0px;
	width:100%; */
    background-image: linear-gradient(rgba(237, 255, 136, 0.959), rgba(204, 200, 255, 0.938));}
.group{
	display:relative;
    width:100%;
	float:left;
}
.group:before,
.group:after {
	content:"";
    display:table;
}
.group:after {
   clear:both;
}
.group {
    zoom:1;
}
.col{
	display: block;
	width:100%;
		
}
.col:first-child{
	margin-left:0;
	/* width:29%; */
	float:left;
	/* background-color: #ff6b08 */
}

/* .col:second-child{
	width:29%;	
} */
.span_2_of_3 .contact-form {
	width:50%;
	margin-left:25px;
	padding-left: 30px;
	float:left;
	padding: 0 0 1.5% 0;
}
.span_1_of_3 {
	width: 29%;
	float:left;
	padding: 1.2% 2% 0 0;
	padding-left:40px;
}
.hospital-address p{
	font-family: Arial, Helvetica, sans-serif;
	padding: 0.2em 0;
	text-transform: capitalize;
	font-size: 1.5em;
	color: rgb(155, 155, 155);
	line-height: 1.5em;
}
.hospital-address p span{
	text-decoration:underline;
	color:#333;
	text-transform: lowercase;
	cursor:pointer;
	font-family: 'Open Sans', sans-serif;
	/* font-size:1.4em; */
}
.hospital-address a{
	text-decoration: none;
}
.span_2_of_3  h2,
.span_1_of_3  h2 {
	color: rgb(139, 139, 139);
	margin-top: 0;
	font-size: 2.3em;
	font-family: 'Ropa Sans', sans-serif;
	font-weight: normal;
	letter-spacing: -1px;
    padding:4%;
	 animation: kxa 2s infinite;
	margin-top: 9px;
}
@keyframes kxa {
	0%   {background-color: red;}
	25%  {background-color: yellow;}
	50%  {background-color: rgb(181, 211, 252);}
	100% {background-color: rgb(234, 65, 250);}
  }
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	padding-left:40px;
	font-size:1.3em;
	color: rgb(139, 139, 139);
	padding-bottom:5px;
	font-family: 'Ropa Sans', sans-serif;
}
.contact-form input,.contact-form textarea{
		    padding:8px;
			display:block;
			width:50%;
			background:#fcfcfc;
			border: none;
            border-radius: 10px;
			outline:none;
			color:rgb(139, 139, 139);
			font-size:0.8125em;
			font-family:Arial, Helvetica, sans-serif;
			box-shadow: inset 0px 0px 3px rgb(199, 199, 199);
			
}
.contact-form textarea{
		resize:none;
		height:120px;		
}
.contact-form input[type="submit"]{
	font-size: 1em;
   font-family: Arial, Helvetica, sans-serif;
	background: #04d690;
	border-radius: 14px;
	width:30%;
    border-color:gainsboro;
	text-transform:capitalize;
	color: #fff;
	padding: 10px 10px;
	float: left;
	margin-top: 8px;
	cursor:pointer;
    text-align: center;
}
.contact-form input[type="submit"]:hover{
	color: #000;
}
.contact-form input[type="submit"]:active{
	background-color:#000;  
}





footer{
	width: 100%;
    background-image: linear-gradient(rgba(170, 248, 109, 0.959), rgba(204, 200, 255, 0.938));
	float: left;
	color: rgb(10, 8, 8);
    padding-left: 10px;
	padding: 30px 0;

}

footer .footer-box{
	width: 30%;
	float: left;
	height: 100%;
    padding-left: 20px;
	
}

  .footer-box a{
	display: block;
	font-family: Gotu;
	color: rgb(9, 6, 211);
	font-size: 20px;
    text-decoration: none;
	
}
footer .footer-box a:hover{
	text-decoration: underline;
	color: rgb(53, 53, 54);
}
.footer1{
	clear:both;
	background-image:linear-gradient(to right, rgb(16, 196, 241) , rgb(241, 124, 13));;
	width:100%;
	text-transform: capitalize;
	font-size: 24px;
  text-align: center;

  }
 p.hello1{
	clear: both;
	text-align: center; 
	 padding:30px;
}
/***** Media Quries *****/
@media only screen and (max-width: 1541px){
	.header{
		width:100%;
		height: 85px;
	}
	.logo{
		width:40%;
		
		height: 80px;
	}
	.logo a{
		font-size:22px
	}
	.top-nav{
		float:right;
		display:inline-block;
		width: 40%;
		position:absolute;
		
	}

}
@media only screen and (max-width: 1368px){
	.logo{
		width:46%;
		height: 80px;
	}
	.logo a{
		font-size:22px
	}
}
@media only screen and (max-width: 1300px){
	.header{
		width: 100%;
		height: 85px;
		/* margin-top:-93px; */
	  }
	  .header .logo a{
		font-size:22px;
	}
	
}
@media only screen and (max-width:1171px){
	
	.logo{
		width:39%;
		height: 80px;
	}
	.logo a{
		font-size:22px
	}
}
  @media only screen and (max-width:1024px) {
	
	
	/* .span_1_of_3 h3  {
		font-size: 1.5em;
	}
	 */
}
  @media only screen and (max-width: 991px) {
	.header{
		position:fixed;
		width:100%;
		/* margin:0px; */
		margin-bottom: 20px;
	}
	.logo{
		width: 90%;
	}
	.logo a{
		width:100%;
		font-size: 23px;
	
	}
	
	.top-nav{
		height: 70%;
		width: 0;
		position:fixed;
		z-index: 1;
		top: 0;
		margin:0px;
		padding: 0px;
		left:0;
		background-color: rgb(56, 56, 56);
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 30px;
	}
	 
	  
	  .top-nav ul li a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: white;
		display: block;
		transition: 0.5s;
	  }
	  
	  .top-nav a:hover {
		color: #f1f1f1;
	  }
	
	  .top-nav .closebtn {
		display:block;
		position:absolute;
		top: 0;
		
		color:white;
		right: 25px;
		font-size: 36px;
		margin-left:10px;
	  }
	 
	  .top-nav span{
		display:block;
		position:fixed; 
		margin-left:700px;
		float:right;
		margin-top:-20px;
		color:black;
	  }
	  .wrap{
		width:100%;
		position:relative;
		margin-top:70px;
	}
 .span_2_of_3 .contact-form{
	position:relative;
	} 
} 
	
	@media only screen and (max-width:853px){
		.top-nav span{
		
			margin-left:650px;
			
		  }
	}
@media only screen and (max-width:800px){
	.wrap{
		width:760px;
	}
	
	
	
	.span_2_of_3 {
		width:95%;
		padding:3%; 
	}
	.span_2_of_3 p{
		margin-top:8px;
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:95%;
		padding:3%; 
	}
	.contact-form {
		padding-bottom: 83px;
	}
	.footer{
		width:100%;

		position: relative;
	}
}

@media only screen and (max-width: 750px) {
	
  .logo a{
	font-size: 23px;
}
.top-nav span{
		position:fixed;
		float:right;
		margin-left:590px;
		margin-top:-19px;
  }
}
@media only screen and (max-width: 726px) {
	
	  footer .footer-box{
		width: 50%;
	font-size: 22px;
}
	.footer-box a{
		font-size: 22px;}
 } 
@media only screen and (max-width: 694px) {
footer .footer-box{
	width: 40%;}
}
@media only screen and (max-width: 640px)  {

	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
   
   .contact-form input,.contact-form textarea{
		width:98%;
	}
}

@media only screen and (max-width: 550px) {
	footer .footer-box{
		width: 75%;
	font-size: 24px;}
	.footer-box a{
	font-size: 23px
	}
	}
	@media only screen and (max-width: 500px) {
		.top-nav span{
			position:fixed;
			float:right;
			margin-left:560px;
			margin-top:-19px;
	  }
	
		.header{
			width: 100%;
			height: 75px;
		  }
		  .contact-form span{
			
			font-size:1.4em;
		
		}
		}
		@media screen and (max-width: 483px) {
			.header{
				width: 100%;
				height: 85px;
			  }
			  .logo a{
			   font-size: 20px;
		   }
			}
			@media only screen and (min-width: 480px) {
				.top-nav ul li a {
					padding: 26px 18.17px;
				}
				.logo{
					float:none;
					padding: 10px 0px;
					margin:0px;
				}
				.top-nav{
					float:none;
				}
				
	.span_2_of_3 {
		width:97%;
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
   
   .contact-form input[type="text"],.contact-form textarea{
		width:97%;
	}
	.contact{
		min-height: 682px;
	}
}
			@media only screen and (max-width: 414px) {
				.header{
					width: 100%;
					height: 95px;
				  }
				  .top-nav span{
					position:fixed;
					
					margin-left:530px;
					margin-top:-10px;
			  }
				.footer1{
					font-size: 22px;
				  }
				}
			
			